<div class="topnav" id="myTopnav">
<section id="mob_logo">
<img src="https://i.ibb.co/mDpmR4x/logo-icon.png" alt="">
</section>
<section>
<a href="#" class="border_animate">EXPLORE</a>
<a href="#" class="border_animate">COMMUNITY</a>
<div class="dropdown">
<button class="dropbtn">PAGES 
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-content animate">
<a href="#">PageOneLinkGoesHere</a>
<a href="#">PageTwoLinkGoesHere</a>
<a href="#">Page3eeLinkGoesHere</a>
</div>
</div> 
<a href="./aboutus" class="border_animate">ABOUT</a>
</section>
<section id="desk_logo">
<img src="https://i.ibb.co/mDpmR4x/logo-icon.png" alt="" id="logo">
</section>
<section>
<a href="#" class="social_icons"><i class="fa fa-facebook"></i></a>
<a href="#" class="social_icons"><i class="fa fa-instagram"></i></a>
<a href="#" class="social_icons"><i class="fa fa-twitter"></i></a>
<a href="/login" class="btn1">Login</a>
<a href="/track/" class="btn1">Track</a>
</section>
<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="NavBar()">&#9776;</a>
</div>