
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
<script type="text/javascript">

window.onresize = reportWindowSize;

function reportWindowSize() {
	let width = window.innerWidth;
	if (width >= 768) {
		onMenuToggle("close");
	}
}

function onMenuToggle(toggle) {
    const menuToggle = document.querySelector(".mobile-menu");
const menuClose = document.querySelector(".menu-close");
const nav = document.querySelector(".nav-container");

	if (toggle === "open") {
		menuToggle.style.display = "none";
		menuClose.style.display = "block";
		nav.style.right = 0;
	} else {
		menuToggle.style.display = "flex";
		menuClose.style.display = "none";
		nav.style.right = "-440px";
	}
}

</script>
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/footer.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet"> 
    <title>Home</title>
</head>
<body>
    {% include "navbar.html" %}
    <div id="pagecontent">
        <table border="2">
            <tr>
                <th>
                        Weight
                </th>
                <th>
                    Local
                </th>
                <th>
                    Up to 200 Kms.
                </th>
                <th>
                    201 to 1000 Kms.
                </th>
                <th>
                    1001 to 2000 Kms.
                </th>
                <th>
                    Above 2000 Kms.
                </th>
            </tr>
            <tr>
                <td>Up to 50 grams</td>
                <td>INR 15</td>
                <td>INR 35</td>
                <td>INR 35</td>
                <td>INR 35</td>
                <td>INR 35</td>
            </tr>
            <tr>
                <td>51 grams to 200 grams</td>
                <td>INR 25</td>
                <td>INR 35</td>
                <td>INR 40</td>
                <td>INR 60</td>
                <td>INR 70</td>
            </tr>
            <tr>
                <td>201 grams to 500 grams</td>
                <td>INR 30</td>
                <td>INR 50</td>
                <td>INR 60</td>
                <td>INR 80</td>
                <td>INR 90</td>
            </tr>
        </table>
    </div>
    {% include "footer.html" %}
</body>
</html>