{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:500,700&display=swap" rel="stylesheet"> 
    <title>Signin</title>
</head>
<body>
    <div class="contact-wrapper">
        <header class="login-cta">
          <h2>New User</h2>
        </header>
        <form>
          <div class="form-row">
            <input type="text" required>
            <span>Username or Email</span>
          </div>
          <div class="form-row">
            <input type="password" required>
            <span>Password</span>
          </div>
          <div class="form-row">
            <input type="password" required>
            <span>Confirm Password</span>
          </div>
          <div class="form-row"></div>
          <div class="form-row">
            <button type="submit">Create new user!</button>
          </div>
          <div class="form-row">
            <button onclick="window.location.pathname='/login'">Already user!</button>
          </div>
        </form>
      </div>
</body>
</html>