{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/admin.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastTrack | Admin</title>
</head>

<body>
    {% include 'admin/admin_navbar.html' %}
    <div id='admin_container'>
        {% include 'admin/Admin_navigator.html' %}
                <div class='admin_forms'>
           <form action="/addemployee/" method="post">
            {% csrf_token %}
             <h1>Add Employee Details</h1>
             <label for="custname">Name:</label>
             <input type="text" id="name" name="name" required><br><br>
             <label for="Phone">Phone:</label>
             <input type="text" id="phone" name="phone" required><br><br>
             <label>Branch Id:</label>
             <input type="text" id="origin_pincode" name="branchid" required><br><br>
             <h3>{{status}} </h3>
             <input type="submit" value="Add Shipment" class="btn1">
               
        </form>
        </div>    
    </div>
</body>
</html>