{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/admin.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastTrack | Admin</title>
</head>

<body>
    {% include 'admin/admin_navbar.html' %}
    <div id='admin_container'>
        {% include 'admin/Admin_navigator.html' %}
                <div class='admin_forms'>
        </div>
        {% if status == 'ok' %}
        <table>
            <tr>
            <th>Branch Id</th>
            <th>City</th>
            <th>Address</th>
            <th>Pincode</th>
        </tr>
        {% for i in result %}
         <tr>
            {% for j in i %}
                <td>{{j}}</td>
            {% endfor %}
         </tr>   
        {% endfor %}
        {% endif %}
    </table>
    </div>
</body>
</html>