{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/admin.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastTrack | Admin</title>
</head>

<body>
    {% include 'admin/admin_navbar.html' %}
    <div id='admin_container'>
        {% include 'admin/Admin_navigator.html' %}
        <div class='admin_forms'>
           <form action="/updateshipment/" method="post">
               {% csrf_token %}
            <fieldset>
             <h1>Update Location</h1>
             <label>Shipment Id:</label>
             <input type="text" id="sid" name="sid" required><br><br>
             <input type="radio" name="status" value="IN">
            <label for="contactChoice1">IN</label>
            <input type="radio" name="status" value="OUT">
            <label for="contactChoice2">OUT</label>
             <label>Date:</label>
             <input type="datetime-local" id="date_out" name="date" required><br><br>
             <label>Location:</label>
             <input type="text" id="location" name="location" required><br><br>
             <label>Branch Id:</label>
             <input type="text" id="branch" name="branch" required><br><br>
            </fieldset>
            <input type="submit" value="Update shipment" class="btn1">
           </form>
        </div>
    </div>
</body>
</html>